/*Setear nuestros archivos*/
body {
  box-sizing: border-box;
  color: #303030;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

/*Clases reutilizables*/
.text-uppercase {
  text-transform: uppercase;
}

.box-header {
  display: inline-block;
}

/*Clases específicas*/
.logo-header {
  width: 200px;
}

li {
  display: inline;
  list-style: none;
}

li a {
  color: inherit;
  text-decoration: none;
}

header {
  position: relative;
}

nav {
  position: absolute;
  right: 5%;
  top: 50%; /*se posiciona a la mitad del alto total de la caja padre <header>*/
  transform: translateY(-50%); /*con esta propiedad transformamos un elemento, para este caso; se usa translateY, porque quiero transladar en el eje Y 50% para arriba,así quedaría <nav> centrado(si se sabe el alto de la caja, se colocaría la mitad del tamaño)*/
}

section {
  text-align: center;
}

div {
  display: inline-block;
  width: 33%;
}

span {
  font-size: 60px;
}

span:hover, .box-header ul li:hover {
  color: #f9a91a;
}

.services {
  margin: 30px 50px 0 60px;

}

img[alt="Laboratoria"] {
  width: 120px;
}

button {
  background-color: #f9a91a;
  padding: 10px;
  color: #fff;
  border: 0;
  border-radius: 5px;
  font-weight: 500;
}

.box-header ul li {
  margin: 0 15px;
}
